#footer {
    background-color: var(--secondary);
    padding-top: 5rem;
    overflow-x: hidden;
}

.footer-structure {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer-widgets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}

.footer-widget {
    margin-bottom: 5rem;
    color: var(--white);
}

.footer-widget:last-of-type {
    margin-bottom: 0;
}

.footer-widget p,
.footer-widget h3 {
    color: var(--white);
}

.footer-widget h3 {
    margin-bottom: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-widget h3 {
        text-align: left;
    }
}

.footer-widget nav,
.footer-widget p {
    margin-top: 2rem;
}

.footer-menu {
    font-size: 2rem;
    line-height: 1.8;
    color: var(--white);
    text-align: center;
}

@media (min-width: 768px) {
    .footer-menu {
        text-align: left;
    }
}

.footer-copyright {
    background-color: var(--primary);
    padding: 2rem 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.footer-copyright p {
    text-align: center;
    color: var(--white);

}